<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Credit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-inline" method="POST" action="{{ path('add-debt') }}">

            <select class="form-control user-credit d-block" name="name">
            </select>

            <div class="col-md-12 d-block"></div>

            <button class="btn-sm btn btn-success float-right mt-5 add-item" type="button"><i class="fas fa-plus fa-lg text-white"></i></button>
            <div class="input-group mt-2 item-list clone">
                <span class="remove-item"><i class="far fa-times-circle fa-lg"></i></span>

                <select class="form-control select-item" name="item[]">
                    <option value="0">0</option>
                </select>
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="number" class="form-control amount" placeholder="Amount" name="amount[]" value="0">
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="number" class="form-control price" placeholder="Price" name="price[]" value="0">
            </div>

            <div class="input-group mt-2 item-list" id="cccjferrer">
                <span class="remove-item"><i class="far fa-times-circle fa-lg"></i></span>
                
                <select class="form-control select-item" name="item[]"></select>
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="number" class="form-control amount" placeholder="Amount" name="amount[]" value="0">
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="number" class="form-control price" placeholder="Price" name="price[]" value="0">
            </div>

            <div class="form-group mt-2">
                <label>Total:</label>
                <div class="col-md-12 d-block"></div>
                <input type="number" name="total" class="form-control total-amount" value="0">
            </div>

            <div class="input-group mt-2">
                <label>Cash/Balances:</label>
                <div class="col-md-12 px-0 d-block">
                    <input type="number" name="cash" class="form-control cash" value="0">
                </div>
            </div>

            <div class="input-group mt-2">
                <label>Descriptions:</label>
                <div class="col-md-12 px-0 d-block">
                    <textarea name="desc" id="desc" style="width:100%;height:100px" class="form-control"></textarea>
                </div>
            </div>
            
            <div class="col-md-12 d-block"></div>
            
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>