<header class="container-fluid">
    <a href="{{ path('index') }}" class="d-inline-block text-white"><h4 class="m-0 d-inline-block align-middle">Debt Manager</h4></a>
    <a href="{{ path('index') }}">
        <img src="{{ asset('assets/images/logo.png') }}" class="img-fluid d-inline-block float-right align-middle">
    </a>
</header>